/////////////////////////////////////////////////////////////////////////////
// Icon
/////////////////////////////////////////////////////////////////////////////
IDI_ICON    ICON    "res\\images\\appicon.ico"
